.manufacturing-info-container {
  padding: 20px 60px;
  margin-top: 25px;
  border-radius: 3px;
  display: block;

  border: 2px dotted var(--ion-color-primary);

  .manu-title {
    position: relative;
    color: var(--ion-color-primary);
    font-size: var(--font-size-md);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;

    ion-icon {
      color: var(--ion-color-primary);
      font-size: var(--font-size-2xl);
      position: absolute;
      left: -30px;
    }
  }
}
